:root {
            /** glenthemes npf fix **/
            --NPF-Caption-Spacing: 1em;
            --NPF-Image-Spacing: 4px;
            /** theme options **/
            --tmblr-ctrl: ;
            --fontsize: 12px;
        }
        /** tumblr controls **/
        
        iframe#tumblr_controls,
        .iframe-controls--desktop {
            position: fixed!important;
            top: 8px!important;
            right: 8px!important;
            -webkit-filter: invert(100%);
            filter: invert(100%);
            transform: scale(0.6);
            -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
            transform-origin: top right;
            z-index: 1500!important;
        }
        
        .tmblr-iframe-overlay {
            margin: 0;
        }
        /** tool tips **/
        
        #s-m-t-tooltip {
            z-index: 1000000000000000000000000000000000000;
            max-width: 300px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: inconsolata;
            font-size: calc( var(--fontsize) - 4px);
            padding: 4px 6px;
            margin: 20px 0 0 10px;
            border-radius: 0 7px 7px 7px;
        }
        /** scrollbar **/
        
         ::-webkit-scrollbar {
            width: 14px;
        }
        
         ::-webkit-scrollbar-track-piece {
            background-color: #e8e8e8;
        }
        
         ::-webkit-scrollbar-thumb:vertical {
            width: 6px;
            border: 4px solid #e8e8e8;
            background: #878787;
            border-radius: 100px;
        }
        /** text selection **/
        
         ::selection {
            color: #ffffff;
            /** text selection text **/
            background-color: #939393;
            /** text selection bg **/
        }
        
         ::-moz-selection {
            color: #ffffff;
            /** text selection text **/
            background-color: #939393;
            /** text selection bg **/
        }
        
         ::-webkit-selection {
            color: #ffffff;
            /** text selection text **/
            background-color: #939393;
            /** text selection bg **/
        }
        
        body {
            background-color: #e8e8e8;
            background-image: url(https://i.ibb.co/XzhYZ1V/black.png);
            background-attachment: fixed;
            font-family: inconsolata;
        }
        
        a {
            text-decoration: none;
            transition: 0.6s ease-in-out;
        }
        
        p:first-child {
            margin-top: 0;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
        
        .centrer {
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        /** controls side **/
        
        .controlside {
            position: fixed;
            right: calc(50% + 350px);
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            transition: 1.0s ease-in-out;
        }
        
        .ps-buttons {
            width: 164px;
            height: 164px;
        }
        
        .psbtn {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            padding: 6px;
            position: absolute;
            transition: 0.2s ease-in-out;
        }
        
        .psbtn-tri {
            background-color: #000001;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #333333;
            margin: 0px 52px;
        }
        
        .psbtn-sq {
            background-color: #717171;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #333333;
            margin: 52px 0px;
        }
        
        .psbtn-cir {
            background-color: #B8B8B8;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #333333;
            margin: 52px 104px;
        }
        
        .psbtn-x {
            background-color: #4C4C4C;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #333333;
            margin: 104px 52px;
        }
        
        .psbtn-tri:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 #9E9E9E;
            margin: 4px 58px;
        }
        
        .psbtn-sq:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 #9E9E9E;
            margin: 57px 5px;
        }
        
        .psbtn-cir:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 #9E9E9E;
            margin: 57px 109px;
        }
        
        .psbtn-x:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 #939393;
            margin: 109px 57px;
        }
        
        .ps-in {
            width: 44px;
            height: 44px;
            border: 3px solid #ffffff;
            border-radius: 100px;
        }
        
        .ps-symbol {
            width: 24px;
            height: 24px;
            margin: 10px;
        }
        
        .psbtn-tri .ps-symbol {
            margin: 10px 0 0 12px;
        }
        
        .ps-symconsole,
        .ps-navinav {
            display: block;
        }
        
        .ps-symnav,
        .ps-naviconsole {
            display: none;
        }
        
        .ps-navicon .feather {
            width: 18px;
            height: 18px;
            margin: 13px;
            color: #ffffff;
        }
        
        .ps-symbol .ps-tri1,
        .ps-tri2,
        .ps-tri3 {
            width: 20px;
            height: 2px;
            background-color: #ffffff;
            border-radius: 100px;
            position: absolute;
        }
        
        .ps-tri1 {
            transform: rotate(60deg);
            margin: 10px 0 0 5px;
        }
        
        .ps-tri2 {
            transform: rotate(-60deg);
            margin: 10px 0 0 -5px;
        }
        
        .ps-tri3 {
            transform: rotate(0deg);
            margin: 18.5px 0 0 0.5px;
        }
        
        .ps-sq {
            width: 13px;
            height: 13px;
            border: 3px solid #ffffff;
            border-radius: 3px;
            margin: 2.5px;
            position: absolute;
        }
        
        .ps-cir {
            width: 18px;
            height: 18px;
            border: 3px solid #ffffff;
            border-radius: 30px;
            position: absolute;
        }
        
        .ps-x1,
        .ps-x2 {
            width: 24px;
            height: 2px;
            background-color: #ffffff;
            border-radius: 100px;
            position: absolute;
            margin: 10px 0px;
        }
        
        .ps-x1 {
            transform: rotate(45deg);
        }
        
        .ps-x2 {
            transform: rotate(-45deg);
        }
        
        .ps-pm {
            margin-top: 30px;
            width: 164px;
            height: 30px;
        }
        
        .pm-btn {
            width: 30px;
            height: 30px;
            position: absolute;
        }
        
        .pm-btn-plus {
            margin: 0 119px;
        }
        
        .pm-btn-minus {
            margin: 0 15px;
        }
        
        .pm-plus {
            width: 4px;
            height: 30px;
            border-radius: 100px;
            background-color: #888888;
            position: absolute;
            margin: 0 13px;
        }
        
        .pm-plus:after {
            content: " ";
            height: 4px;
            width: 30px;
            border-radius: 100px;
            background-color: #888888;
            position: absolute;
            margin: 13px -13px;
        }
        
        .pm-minus {
            height: 4px;
            width: 30px;
            border-radius: 100px;
            background-color: #888888;
            position: absolute;
            margin: 13px 0;
        }
        
        .pm-nope {
            cursor: not-allowed;
        }
        
        .pm-nope .pm-minus {
            background-color: #bcbcbc;
        }
        
        .pm-nope .pm-plus {
            background-color: #bcbcbc;
        }
        
        .pm-nope .pm-plus:after {
            background-color: #bcbcbc;
        }
        
        .pm-yep {
            position: absolute;
            z-index: 10;
            cursor: pointer;
        }
        /** sidebar **/
        
        .sidebar {
            width: 220px;
            position: fixed;
            left: calc(50% + 350px);
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            padding-bottom: 20px;
            transition: 1.0s ease-in-out;
        }
        
        .sb-imgprof {
            width: 220px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #fffefd;
        }
        
        .sb-img {
            display: block;
            width: 220px;
            height: 160px;
            background-image: url(https://64.media.tumblr.com/bd8b7530b3a182bb232e012600a82bed/dfaacfc86028e3b9-8a/s400x600/5f874ac929abde99daec952ece4d1f246957cf0c.jpg);
            background-size: cover;
            background-position: center;
            transition: 0.3s ease-in-out;
        }
        
        .sb-floatee,
        .sb-floateeb {
            width: 160px;
            height: 40px;
            position: absolute;
            background-color: rgba(79, 79 79, 0.2);
            border: 1px solid #6E6E6E;
            backdrop-filter: blur(5px);
            padding: 8px;
            border-radius: 1000px;
            margin: -115px 70px;
        }
        
        .sb-floatee {
            animation-name: floatee-anim;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        
        @keyframes floatee-anim {
            0% {
                margin: -115px 70px;
            }
            50% {
                margin: -110px 70px;
            }
            100% {
                margin: -115px 70px;
            }
        }
        
        .sb-floateefixed {
            padding: 15px;
            background-color: #929292;
        }
        
        .sb-floateefixed .sbf-bar {
            width: 120px;
        }
        
        .sb-floateenone {
            display: none;
        }
        
        .sbf-pfp {
            display: block;
            position: absolute;
            border-radius: 100px;
        }
        
        .sbf-info {
            margin-left: 50px;
            height: 40px;
        }
        
        .sbf-name {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 1000;
            letter-spacing: 1px;
            color: #FFFFFF;
            margin-bottom: 5px;
        }
        
        .sbf-oneline {
            font-size: 10px;
            letter-spacing: 1px;
            width: 105px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .sbf-stat {
            width: 94px;
            height: 10px;
            margin: 0 0 2px 0;
        }
        
        .sbf-statname {
            font-family: vt323;
            font-size: 11px;
            color: #FFFFFF;
            letter-spacing: 2px;
            float: left;
        }
        
        .sbf-bar {
            width: 78px;
            height: 5px;
            background-color: #ffffff;
            border-radius: 100px;
            position: absolute;
            margin: 3px 0 0 16px;
            overflow: hidden;
        }
        
        .sbf-barfill {
            height: 7px;
            margin: -1px;
            width: 50%;
            background-color: #dddddd;
            border-radius: 100px;
        }
        
        .sbf-stat-hp .sbf-barfill {
            width: 80%;
        }
        
        .sbf-stat-sp .sbf-barfill {
            width: 30%;
        }
        
        .sbf-fol {
            width: 40px;
            height: 40px;
            border-radius: 400px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(2px);
            z-index: 1;
            color: #fff;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            opacity: 0;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }
        
        .sb-floatee:hover .sbf-fol {
            opacity: 1;
        }
        
        .sb-floateeb:hover .sbf-fol {
            opacity: 1;
        }
        
        .sb-floateefixed:hover .sbf-fol {
            opacity: 1;
        }
        
        .sbf-fol-active {
            opacity: 1;
            transform: rotate(135deg);
        }
        
        .sb-info {
            width: 220px;
            margin: 30px 0 0 0px;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #fffefd;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
        }
        
        .sb-title {
            font-family: vt323;
            font-size: 20px;
            padding: 12px 65px 12px 15px;
            border-radius: 10px 10px 0 0;
            background-color: #878787;
            color: #ffffff;
        }
        
        .sb-exit {
            margin: -12px 0 0 150px;
        }
        
        .sb-desc {
            background-color: #fffefd;
            border-radius: 0 0 10px 10px;
            padding: 15px;
        }
        
        #q-searchbar {
            font-family: inconsolata;
            font-size: calc( var(--fontsize) - 2px);
            margin: 15px 0 0 0;
            text-transform: uppercase;
            background-color: #f1f1f1;
            color: #555555;
            width: 160px;
            padding: 0 15px;
            border: 0;
            outline: 0;
            height: 30px;
            line-height: 30px;
            border-radius: 8px;
        }
        
        .sb-linkssb {
            margin-top: 10px;
        }
        
        .sb-linkspho {
            display: none;
        }
        
        .sb-linkssb a {
            display: inline-block;
            overflow: hidden;
            max-width: 170px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 4px 0 0 0;
            padding: 3px 6px;
            border-radius: 5px;
            font-size: var(--fontsize);
            transition: 0.3s ease-in-out;
            background-color: #ffffff;
            color: #555555;
        }
        
        .sb-linkssb a:hover {
            background-color: #ffffff;
            color: #555555;
        }
        
        .stk1,
        .stk2 {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: rgba(156, 156, 156, 0.5);
            backdrop-filter: blur(4px);
            border-radius: 100px;
            margin: -30px -20px;
        }
        
        .stk2 {
            width: 35px;
            height: 35px;
            margin: 15px -20px;
            background-color: rgba(231, 231, 231, 0.5);
        }
        
        .stk3 {
            width: 5px;
            height: 130px;
            position: absolute;
            background-color: #ffffff;
            margin: -80px 240px;
            border-radius: 100px;
        }
        
        .stk4 {
            width: 200px;
            height: 5px;
            position: absolute;
            background-color: #DDDDDD;
            margin: 20px 80px;
            border-radius: 100px;
        }
        /** user profile section **/
        
        .userprofile {
            height: 600px;
            width: 550px;
            position: fixed;
            right: calc(50% - 275px);
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            transition: 1.0s ease-in-out;
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }
        
        .userprofile-show {
            opacity: 1;
            pointer-events: auto;
        }
        
        .up-photo {
            position: absolute;
            width: 300px;
            height: 200px;
            border-radius: 20px;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #fffefd;
            z-index: 1;
            margin: 0 0 0 250px;
            background-color: #fffefd;
            background-image: url(https://64.media.tumblr.com/f816c9430a4851bb196e559ade3a99ad/tumblr_paqhc18jmD1xp1j77o1_640.gif);
            background-position: center;
            background-size: cover;
            display: flex;
        }
        
        .up-pholinkssb {
            display: none;
        }
        
        .up-pholinkspho {
            align-self: flex-end;
            margin: 0 0 16px 125px;
            text-align: right;
            width: 160px;
            display: block;
            opacity: 1;
            pointer-events: auto;
        }
        
        .pholink {
            display: inline-block;
            overflow: hidden;
            max-width: 160px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #555;
            margin: 2px 4px;
            padding: 3px 6px;
            background-color: rgba(255, 255, 255, 0.4);
            color: #555555;
            border-radius: 5px;
            font-size: var(--fontsize);
            transition: 0.3s ease-in-out;
        }
        
        .pholink:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #555555;
        }
        
        .up-header {
            height: 50px;
            background-color: #6B6B6B;
            line-height: 50px;
        }
        
        .bxit {
            font-family: inconsolata;
            position: absolute;
            width: 40px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 0 0 5px 5px;
            font-size: 20px;
            background-color: #B1B1B1;
            color: #ffffff;
            cursor: pointer;
        }
        
        .bxitx {
            transform: rotate(45deg);
            transition: 0.3s ease-in-out;
        }
        
        .up-header-title {
            font-family: vt323;
            color: #ffffff;
            font-size: 20px;
            margin: 0 0 0 20px;
            max-width: 450px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .up-window1 {
            position: absolute;
            height: 400px;
            width: 360px;
            border-radius: 20px;
            overflow: hidden;
            margin: 60px 0 0 0;
            z-index: 2;
            background-color: #fffefd;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #fffefd;
        }
        
        .up-window1:hover {
            z-index: 5;
        }
        
        .up-header-w1 {
            margin: 0 0 0 300px;
        }
        
        .w1-tabs {
            margin: 16px 20px 0 40px;
            z-index: 1;
            position: absolute;
        }
        
        .w1-tab {
            float: left;
            background-color: #CACACA;
            color: #555555;
            padding: 5px 8px 5px 10px;
            border-radius: 5px 5px 0 0;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            transition: 0.6s;
            cursor: pointer;
            margin: 5px 3px 0 3px;
        }
        
        .w1-tab:hover {
            padding: 5px 8px 10px 10px;
            margin: 0px 3px 0 3px;
        }
        
        .w1-tab-active,
        .w1-tab-active:hover {
            background-color: #ececec;
            color: #6d6d6d;
            padding: 5px 8px 10px 10px;
            margin: 0px 3px 0 3px;
        }
        
        .w1-panel {
            width: 280px;
            background-color: #ececec;
            padding: 20px;
            margin: 0 0 0 20px;
            border-radius: 10px;
            height: 250px;
            margin-top: 40px;
            position: relative;
            z-index: 2;
        }
        
        .w1p-space::-webkit-scrollbar {
            width: 14px;
        }
        
        .w1p-space::-webkit-scrollbar-track-piece {
            background-color: #ececec;
        }
        
        .w1p-space::-webkit-scrollbar-thumb:vertical {
            width: 6px;
            border: 4px solid #ececec;
            background: #bfbfbf;
            border-radius: 100px;
        }
        
        .w1p-space {
            overflow-y: auto;
            width: 280px;
            height: 205px;
            margin-top: 10px;
        }
        
        .bio {
            font-size: var(--fontsize);
            line-height: calc( var(--fontsize) + 8px);
            color: #333333;
        }
        
        .bio b,
        strong {
            color: #292929;
        }
        
        .bio i,
        em {
            color: #6E6E6E;
        }
        
        .bio a {
            color: #292929;
            transition: 0.3s ease-in-out;
        }
        
        .bio a:hover {
            color: #585858;
        }
        
        .bio blockquote {
            border-left: 3px solid #dbdbdb;
            margin: 0 0 0 10px;
            padding: 0 0 0 10px;
        }
        
        .w1p-title {
            font-family: vt323;
            color: #848484;
            font-size: 22px;
            border-bottom: 2px solid #dbdbdb;
            padding: 0 0 10px 0;
        }
        
        .td-item {
            width: 100%;
            margin-top: 10px;
        }
        
        .td-name {
            line-height: 12px;
            color: #333333;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 250px;
        }
        
        .td-icon {
            float: left;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            border-radius: 100px;
            border: 2px solid #d7d7d7;
        }
        
        .td-icon-100 {
            width: 2px;
            height: 8px;
            background-color: #c4b4bc;
            transform: rotate(-45deg);
            position: absolute;
            margin: 2px 0 0 2px;
        }
        
        .td-icon-100:before {
            position: absolute;
            content: " ";
            width: 2px;
            height: 12px;
            background-color: #c4b4bc;
            transform: rotate(90deg);
            margin: 1px 0 0 6px;
        }
        
        .w1p-space-todo {
            height: 210px;
        }
        
        .w1p {
            position: absolute;
            opacity: 1;
            pointer-events: auto;
            transition: 0.3s ease-in-out;
        }
        
        .w1p-hide {
            opacity: 0;
            pointer-events: none;
        }
        
        .prof-basic {
            width: 280px;
            height: 100px;
            background-color: #dbdbdb;
            border-radius: 5px;
        }
        
        .prof-basic-info {
            height: 100px;
            margin: 0 0 0 100px;
        }
        
        .prof-basic-name {
            font-family: vt323;
            font-size: 26px;
            color: #666666;
        }
        
        .prof-basic-subtitle {
            font-family: inconsolata;
            font-size: calc( var(--fontsize) - 2px);
            margin-top: 4px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #444444;
        }
        
        .prof-stats {
            width: 280px;
            height: 130px;
            margin-top: 25px;
        }
        
        .pstat {
            width: 125px;
            float: left;
            margin-right: 30px;
            margin-bottom: 25px;
            cursor: default;
        }
        
        .pstat:nth-child(even) {
            margin-right: 0;
        }
        
        .pstat-name {
            font-size: 14px;
            color: #333333;
        }
        
        .pstat-done {
            width: 125px;
            position: absolute;
            text-align: right;
            font-size: 10px;
            margin-top: 4px;
        }
        
        .pstat-bar {
            width: 125px;
            height: 2px;
            background-color: #c4c4c4;
            margin: 6px 0 0 0;
        }
        
        .pstat-barfill {
            height: 2px;
            background-color: #4D4D4D;
            float: left;
        }
        
        .psbf1 {
            width: 25%;
        }
        
        .psbf2 {
            width: 65%;
        }
        
        .psbf3 {
            width: 70%;
        }
        
        .psbf4 {
            width: 80%;
        }
        
        .psbf5 {
            width: 15%;
        }
        
        .psbf6 {
            width: 35%;
        }
        
        .pstato {
            height: 2px;
            width: 2px;
            background-color: #ececec;
            float: left;
        }
        
        .up-window2 {
            position: absolute;
            background-color: #fffefd;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 #fffefd;
            height: 220px;
            width: 280px;
            margin: 380px 0 0 210px;
            z-index: 3;
        }
        
        .up-window2:hover {
            z-index: 3;
        }
        
        .up-header-w2 {
            margin-left: 220px;
        }
        
        .w2-upd {
            margin: 20px;
            height: 130px;
            overflow-y: auto;
        }
        
        .w2-upd p {
            margin-top: 8px;
            margin-bottom: 0px;
        }
        
        .w2-upd p:first-child {
            margin-top: 0;
        }
        
        .w2-upd::-webkit-scrollbar {
            width: 14px;
        }
        
        .w2-upd::-webkit-scrollbar-track-piece {
            background-color: #fffefd;
        }
        
        .w2-upd::-webkit-scrollbar-thumb:vertical {
            width: 6px;
            border: 4px solid #fffefd;
            background: #cbcbcb;
            border-radius: 100px;
        }
        
        .up-quote {
            width: 190px;
            height: 140px;
            position: absolute;
            margin: 220px 0 0 390px;
            z-index: -10;
            font-family: vt323;
            font-size: 30px;
            color: #666666;
        }
        
        .up-quotem {
            font-family: georgia;
            position: absolute;
            font-size: 50px;
            margin: 2px 0 0 6px;
        }
        
        .up-socials {
            position: absolute;
            margin: 490px 0 0 10px;
            width: 170px;
            height: 100px;
        }
        
        .up-smi {
            float: right;
            width: 30px;
            height: 30px;
            margin: 0 0 10px 10px;
            border-radius: 5px;
            font-size: 12px;
            background-color: #9E9E9E;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            box-shadow: 3px 3px 0 #f1f1f1;
            transition: 0.3s ease-in-out;
        }
        
        .up-smi:hover {
            background-color: #404040;
            color: #ffffff;
        }
        /** content **/
        
        .content {
            margin: 80px auto;
            width: 500px;
            transition: 1.0s ease-in-out;
            opacity: 1;
            position: relative;
            z-index: 2;
            pointer-events: auto;
        }
        
        .content-hide {
            opacity: 0;
            pointer-events: none;
        }
        
        .entry {
            width: 500px;
            margin-bottom: 60px;
            overflow: hidden;
            border-radius: 10px;
        }
        
        .entry-content {
            background-color: #fffefd;
        }
        
        .entry-content-wrap {
            padding: 20px;
        }
        
        .entry-caption {
            padding: 20px;
        }
        /** entry top permalink **/
        
        .perma-top {
            height: 50px;
            line-height: 20px;
            background-color: #6D6D6D;
            color: #ffffff;
        }
        
        .perma-top-cut {
            width: 420px;
            overflow: hidden;
            height: 50px;
        }
        
        .ptop-x,
        .ptop-xi {
            margin-left: 440px;
        }
        
        .ptop-title {
            line-height: 50px;
            font-family: vt323;
            font-size: 20px;
            margin-left: 20px;
            color: #ffffff;
        }
        
        .ptop-titlei {
            text-transform: capitalize;
        }
        
        .ptop-title a {
            color: #ffffff;
        }
        
        .ptop-notes {
            margin-left: 5px;
            font-family: inconsolata;
            font-size: 12px;
            padding: 3px 6px;
            border-radius: 5px;
            cursor: default;
            white-space: nowrap;
            background-color: #B9B9B9;
            color: #ffffff
        }
        
        .ptop-x:hover .bxitx {
            transform: rotate(0deg);
        }
        /** entry bottom permalink **/
        
        .perma-actions {
            width: 95px;
            padding: 10px 0 10px 395px;
            text-align: center;
            position: absolute;
        }
        
        .actbtn {
            font-size: 12px;
            display: inline-block;
            margin-right: 4px;
            width: 25px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            transition: 0.4s ease-in-out;
            font-family: 'cappuccicons';
            cursor: pointer;
            color: #616161;
            position: relative;
            z-index: 101;
        }
        
        .ctrllik {
            float: left;
            position: relative;
        }
        
        .like_button {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
        }
        
        .like_button iframe {
            width: 100% !important;
            height: 100% !important;
        }
        
        .likebtnx {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: 0.3s;
        }
        
        .likebtnx:before {
            content: '\eb04';
            transition: 0.4s ease-in-out;
        }
        
        .like_button.liked+.likebtnx:before {
            color: #505050;
            content: '\eb03';
        }
        
        .likebtnx:hover:before,
        .actbtn:hover .likebtnx:before {
            color: #5A5A5A;
        }
        
        .actbtn:hover {
            color: #636363;
        }
        
        .perma-bot {
            background-color: #BABABA;
            min-height: 50px;
            position: relative;
            z-index: 2;
        }
        
        .pbot-tag {
            display: inline-block;
            font-size: 10px;
            letter-spacing: .5px;
            max-width: 350px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 3px 4px;
            margin: 2px 1px;
            border-radius: 3px;
            color: #333333;
            background-color: #DEDEDE;
            transition: 0.3s ease-in-out;
        }
        
        .pbot-tag:hover {
            color: #6F6F6F;
            background-color: #f6efef;
        }
        
        .pbot-content {
            min-height: 10px;
            padding: 14px 110px 14px 20px;
        }
        
        .pinfo-btm {
            display: inline-block;
        }
        
        .pbtm-notes,
        .pbtm-notesi {
            display: inline-block;
            font-size: 10px;
            letter-spacing: 1px;
            max-width: 350px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 3px 4px;
            margin: 2px 1px;
            border-radius: 3px;
            transition: 0.3s ease-in-out;
            background-color: #8B8B8B;
            color: #e7e0e0;
        }
        
        .pbtm-notesi {
            cursor: default;
            background-color: #4F4F4F;
            color: #ffffff;
        }
        
        .pbtm-notes-icon .feather {
            width: 8px;
            height: 8px;
            margin-right: 3px;
        }
        
        .pinfo-toptop,
        .pinfo-btmbtm {
            opacity: 1;
            pointer-events: auto;
            display: inline-block;
        }
        
        .pinfo-topbtm,
        .pinfo-btmtop {
            display: none;
            opacity: 0;
            pointer-events: none;
        }
        /** photo & photoset posts **/
        
        .entry-photo {
            margin: 0 auto;
            max-width: 500px;
            height: auto;
            display: block;
        }
        
        .entry-photoset {
            width: 500px;
        }
        
        .photoset-grid {
            padding-bottom: 0;
        }
        
        [photoset-layout] {
            width: 500px;
            grid-gap: 3px;
            overflow: hidden;
        }
        
        [photoset-layout] div {
            cursor: pointer;
        }
        
        [photoset-layout] img {
            border-radius: 0;
        }
        /** photoset lightbox - thanks @shythemes! **/
        
        .tmblr-lightbox,
        #tumblr_lightbox {
            background: rgba(245, 245, 245, 0.5)!important;
            backdrop-filter: blur(3px)!important;
            z-index: 10000!important;
        }
        
        #vignette,
        .vignette {
            opacity: 0!important;
        }
        
        .lightbox-image,
        #tumblr_lightbox img {
            box-shadow: none !important;
            border-radius: 0 !important;
            max-width: none;
        }
        /** text posts **/
        
        .entry-title {
            font-family: vt323;
            font-size: 24px;
            color: #606060;
            margin: -20px 0 20px -20px;
            background-color: #ece4e7;
            width: 460px;
            padding: 20px;
        }
        
        .entry-body {
            color: #444444;
            font-size: var(--fontsize);
            line-height: calc( var(--fontsize) + 8px);
        }
        
        .entry-body p:first-child {
            margin-top: 0;
        }
        
        .entry-body p:last-child {
            margin-bottom: 0;
        }
        
        .entry-body b,
        .entry-quotesrc b {
            color: #;
        }
        
        .entry-body i,
        .entry-quotesrc i {
            color: #aaaaaa;
        }
        
        .entry-body a,
        .applepie a,
        .entry-quotesrc a {
            color: #;
            text-decoration: underline;
            padding-bottom: 1px;
            transition: 0.6s;
        }
        
        .entry-body a:hover,
        .applepie a:hover,
        .entry-quotesrc a:hover {
            color: #aaaaaa;
        }
        
        .entry-body blockquote,
        .applepie blockquote {
            margin-left: 10px;
            padding-left: 15px;
            border-left: 2px solid #D3D3D3;
            padding-right: 0;
            margin-right: 0;
        }
        
        .entry-body h2 {
            font-size: 20px;
            font-weight: normal;
            color: #A7A7A7;
            font-family: vt323;
            margin: 20px 0 0 0;
            padding-bottom: 4px;
            margin-bottom: 10px;
        }
        
        .entry-body ul {
            list-style-type: square;
            margin-left: -10px;
        }
        
        .entry-body ol {
            list-style-type: lower-roman;
            margin-left: -10px;
        }
        
        .entry-body li {
            margin: 5px 0;
        }
        
        pre {
            padding: 10px 15px;
            word-wrap: break-word;
            display: block;
            background-color: #dcdcdc;
            color: #a6a6a6;
            white-space: normal;
            font-family: consolas, consola, sans-serif;
            font-size: 11px;
        }
        
        .entry-body img {
            height: auto!important;
            max-width: 100%;
        }
        
        .reblog-block {
            width: 460px;
            margin-top: -20px;
        }
        
        .reblog-block-ans {
            width: 460px;
            margin: 0 20px 20px 20px;
        }
        
        .reblogger {
            margin-top: 20px;
        }
        
        .reblog-txt {
            border-left: 4px solid #ebe4e4;
            padding-left: 30px;
            margin: 0 0 0 16px;
        }
        
        .reblogger-icon {
            width: 36px;
            height: 36px;
            border-radius: 100px;
            position: absolute;
            border: 6px solid #fffefd;
            margin: -6px 0 0 -6px;
            background-color: #fff;
        }
        
        .reblogger-username {
            color: #484848;
            transition: 0.3s ease-in-out;
        }
        
        .reblogger-name {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #484848;
            font-weight: bold;
            margin-bottom: 8px;
        }
        
        .reblogger-username:hover {
            color: #AFAFAF;
        }
        
        .reblogger-deactiv {
            text-transform: lowercase;
            font-weight: normal;
            color: #000;
            font-size: 10px;
            opacity: 0.5;
        }
        /** read more, embed, other in-post stuff **/
        
        .read_more,
        .tmblr-truncated-link,
        .ans_rbgans .read_more,
        .ans_rbgans .tmblr-truncated-link {
            padding: 5px 8px 5px 8px!important;
            text-align: center;
            text-shadow: none!important;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
            border: 0px solid #fff!important;
            background-color: #ece4e7;
            !important;
            color: #5d5457!important;
        }
        
        .read_more:after {
            content: " ...";
        }
        
        .read_more:hover,
        .tmblr-truncated-link:hover,
        .ans_rbgans .read_more:hover,
        .ans_rbgans .tmblr-truncated-link:hover {
            border: 0px solid #fff!important;
            background-color: #ece4e7;
            !important;
            color: #5d5457!important;
        }
        
        .tmblr-full,
        .tmrblr-embed {
            object-fit: cover;
            max-width: 405px;
            margin: 0!important;
        }
        
        .tmblr-full video {
            width: 405px!important;
            height: auto!important;
            overflow: hidden!important;
            object-fit: cover;
        }
        
        .reblogger figure {
            margin: 0!important;
        }
        
        .tmblr-full img {
            max-width: 100%!important;
            height: auto!important;
        }
        /** link post **/
        
        .entry-link {
            border-radius: 10px;
            overflow: hidden;
            background-color: #e9dfdf;
            border: 1px solid #BDBDBD;
            transition: 0.6s ease-in-out;
        }
        
        .entry-link:hover {
            background-color: #d8c9c9;
        }
        
        .entry-link-photo {
            width: 460px;
        }
        
        .entry-link-info {
            padding: 20px;
        }
        
        .entry-link-name {
            font-family: vt323;
            font-size: 22px;
            color: #8B8B8B;
        }
        
        .entry-link-exc {
            margin-top: 10px;
            color: #666666;
            line-height: calc( var(--fontsize) + 8px);
            font-size: calc( var(--fontsize));
        }
        
        .entry-link-host {
            margin-top: 10px;
        }
        
        .entry-link-hosthl {
            font-size: calc( var(--fontsize) - 2px);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            padding: 4px 6px;
            border-radius: 5px;
            background-color: #cbbaba;
            color: #ffffff;
        }
        
        .entry-link-comments {
            margin-top: 40px;
        }
        /** quote post **/
        
        .entry-quote {
            font-family: vt323;
            font-size: 26px;
            text-align: center;
            margin: 20px;
            color: #af7965;
        }
        
        .entry-quotesrc {
            color: #444444;
            text-align: center;
            margin: 20px;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }
        
        .entry-quotesrc:before {
            content: "“";
            font-size: 32px;
            font-family: georgia;
            margin: -4px 0 0 -25px;
            position: absolute;
        }
        /** chat post **/
        
        .chatline {
            padding: 12px 15px;
            font-size: var(--fontsize);
            color: #444444;
        }
        
        .chatline-odd {
            background-color: #eeeeee;
            color: #414141;
        }
        
        .chatline-even {
            background-color: #f8f8f8;
            color: #848484;
        }
        
        .chatlabel {
            font-weight: 1000;
            text-transform: uppercase;
            font-weight: 1000;
            font-size: calc( var(--fontsize) - 2px);
            letter-spacing: 1px;
        }
        
        .chatline-odd .chatlabel {
            color: #838383;
        }
        
        .chatline-even .chatlabel {
            color: #191919;
        }
        /** audio posts **/
        
        .entry-audio {
            width: 460px;
            background-color: #e6e6e6;
            height: 120px;
        }
        
        .audio-albumart {
            width: 120px;
            height: 120px;
            background-color: #dfdfdf;
            float: left;
        }
        
        .audio-albumart-img {
            width: 120px;
            height: 120px;
            display: block;
            position: absolute;
        }
        
        .audio-albumart-nil {
            line-height: 120px;
            text-align: center;
            font-size: 8px;
            font-weight: 1000;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #555;
        }
        
        .audprogress {
            height: 3px;
            margin-top: 0px;
        }
        
        .custom_audio_seekbar {
            background-color: #b7b7b7;
            display: block;
            position: absolute;
            width: 460px;
            height: 3px;
            margin: 0 0;
            cursor: pointer;
            transition: 0.6s;
        }
        
        .custom_audio_seekbar_progress {
            background: #C1C1C1;
            width: 0;
            height: 100%;
            display: block;
            transition: 0.2s;
        }
        
        .custom_audio_buttons {
            position: absolute;
            z-index: 10;
            width: 120px;
            height: 120px;
            background-color: rgba(255, 255, 255, 0.0);
            opacity: 0;
            line-height: 137px;
            text-align: center;
            transition: ease-in-out 0.3s;
            overflow: hidden;
        }
        
        .custom_audio_buttons svg {
            width: 30px;
            height: 30px;
            stroke: #fff;
            cursor: pointer;
        }
        
        .custom_audio_error_icon svg {
            stroke: #fff;
        }
        
        .entry-audio:hover .custom_audio_buttons {
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(2px);
        }
        
        .audio-info {
            position: absolute;
            width: 360px;
            margin-left: 140px;
            height: 120px;
        }
        
        .audinfo-track {
            font-size: 22px;
            font-family: vt323;
            color: #A9A8A8;
        }
        
        .audinfo-artist {
            margin-top: 5px;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #747474;
        }
        /** ANSWER POST **/
        
        .entry-ans {
            padding: 20px 20px 0 20px;
        }
        
        .ans-bub {
            background-color: #ebebeb;
            color: #333333;
            padding: 20px;
            font-size: var(--fontsize);
            line-height: 22px;
            border-radius: 10px;
        }
        
        .ans-bub p:first-child {
            margin-top: 0;
        }
        
        .ans-bub p:last-child {
            margin-bottom: 0;
        }
        
        .ans-bubtri {
            width: 20px;
            height: 20px;
            background-color: #ebebeb;
            position: absolute;
            margin: -11px 0 0 50px;
            transform: rotate(45deg);
        }
        
        .ans-asker {
            margin: 25px 0;
            height: 30px;
            line-height: 30px;
            color: #444444;
        }
        
        .ans-pfp {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            float: left;
            margin: 0 15px 0 46px;
        }
        
        .ans-askername {
            font-size: var(--fontsize);
            letter-spacing: 1px;
        }
        
        .ans-askername a {
            color: #000;
            transition: 0.3s;
        }
        
        .ans-rbgans .ans-bub {
            background-color: #ebebeb;
            color: #333333;
        }
        
        .ans-rbgans .ans-bubtri {
            margin: -11px 0 0 388px;
            background-color: #ebebeb;
        }
        
        .ans-rbgans .ans-pfp {
            float: right;
            margin: 0 46px 0 15px;
        }
        
        .ans-rbgans .ans-asker {
            text-align: right;
        }
        
        .ans-rbgans .read_more,
        .ans-rbgans .tmblr-truncated-link {
            padding: 5px 8px 5px 8px!important;
            text-align: center;
            text-shadow: none!important;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
            border: 0px solid #fff!important;
            background-color: #ece4e7;
            !important;
            color: #5d5457!important;
        }
        
        .ans-rbgans .read_more:hover,
        .ans-rbgans .tmblr-truncated-link:hover {
            border: 0px solid #fff!important;
            background-color: #ece4e7;
            !important;
            color: #5d5457!important;
        }
        /** permalink page **/
        
        .permapg {
            font-size: var(--fontsize);
            color: #444444;
        }
        
        .permapg a {
            color: #AFAFAF;
            transition: 0.3s ease-in-out;
        }
        
        .permapg a:hover {
            color: #aaaaaa;
            transition: 0.3s ease-in-out;
        }
        
        .permapg-tag {
            display: inline-block;
            max-width: 444px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 4px 8px;
            margin: 2px 1px;
            background-color: #f6efef;
            border-radius: 3px;
            color: #6e6767;
            transition: 0.3s ease-in-out;
        }
        
        .permapg-tag:hover {
            background-color: #d6c7cc;
            color: #333333;
        }
        /** note container **/
        
        .applepie {
            color: #444444;
        }
        
        .applepie ol.notes {
            padding: 0px;
            margin: 6px 0px;
            list-style-type: none;
        }
        
        .applepie ol.notes li.note {
            padding: 6px 10px;
        }
        
        .applepie ol.notes li.note img.avatar {
            vertical-align: -4px;
            margin-right: 10px;
            width: 16px;
            height: 16px;
            border-radius: 100px;
        }
        
        .applepie blockquote {
            margin-left: 6px;
            border-left: 2px solid #fadb93;
            color: #444444;
        }
        
        .applepie blockquote a {
            color: #444444;
        }
        /** tag & search page headers **/
        
        .searchpg-yes,
        .searchpg-nox {
            display: block;
        }
        
        .searchpg-yesx,
        .searchpg-no {
            display: none;
        }
        /** npf text colours **/
        /** credit to @unwrapping: https://unwrapping.tumblr.com/post/177292830752/fun-with-text-colors-from-tumblrs-web-dashboard **/
        
        .npf_color_joey {
            color: #ff492f;
        }
        
        .npf_color_monica {
            color: #ff8a00;
        }
        
        .npf_color_chandler {
            color: #85452a;
        }
        
        .npf_color_phoebe {
            color: #fcf01d;
        }
        
        .npf_color_rachel {
            color: #00b8ff;
        }
        
        .npf_color_ross {
            color: #00cf35;
        }
        
        .npf_color_niles {
            color: #ff62ce;
        }
        
        .npf_color_frasier {
            color: #001935;
        }
        
        .npf_color_mr_big {
            color: #000c1a;
        }
/*-------MUSIC PLAYER BY GLENTHEMES-------*/
:root {
   --Music-Player-Vinyl:#fff;
   --Vinyl-Icon-Size:17px;
   --Vinyl-Spin-Speed:3.5s;
   --Music-Controls:#fff;
   --Music-Controls-Size:12px;
   --Music-Title-Font-Size:11px;
   --Music-Title-Color:#fff;
}
.glenjams-06 {
   display:none;
   position:fixed;
   bottom:0;margin-bottom:30px;
   left:0;margin-left:30px;
   z-index:99;
}

.pasta {
   display:flex;
   align-items:center;
}

.vinyl-spin {
   animation:recordspin var(--Vinyl-Spin-Speed) linear infinite;
   -webkit-animation:recordspin var(--Vinyl-Spin-Speed) linear infinite;
   -moz-animation:recordspin var(--Vinyl-Spin-Speed) linear infinite;
   -o-animation:recordspin var(--Vinyl-Spin-Speed) linear infinite;
}

.vinyl-pause {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
   -moz-animation-play-state:paused;
   -o-animation-play-state:paused;
}

@-webkit-keyframes recordspin {
   from {
       -webkit-transform:rotate(0deg);
       -o-transform:rotate(0deg);
       transform:rotate(0deg);
   }
   to {
       -webkit-transform:rotate(360deg);
       -o-transform:rotate(360deg);
       transform:rotate(360deg);
   }
}

@keyframes recordspin {
   from {
       -ms-transform:rotate(0deg);
       -moz-transform:rotate(0deg);
       -webkit-transform:rotate(0deg);
       -o-transform:rotate(0deg);
       transform:rotate(0deg);
   }
   to {
       -ms-transform:rotate(360deg);
       -moz-transform:rotate(360deg);
       -webkit-transform:rotate(360deg);
       -o-transform:rotate(360deg);
       transform:rotate(360deg);
   }
}

.vinyl, .vinyl svg {
   width:var(--Vinyl-Icon-Size);
   height:var(--Vinyl-Icon-Size);
   line-height:0;
}

.music-controls {
   margin-left:10px;
   width:var(--Music-Controls-Size);
   overflow:hidden;
   cursor:pointer;
}

.music-controls svg {
   display:block;
   width:var(--Music-Controls-Size);
   height:var(--Music-Controls-Size);
   color:var(--Music-Controls);
   stroke-width:1.5px;
   line-height:0;
}

.pausee {display:none;}

.beff {display:none;}
.aff {display:block;}

.music-title {
   margin-left:8px;
   font-family:work sans;
   font-size:var(--Music-Title-Font-Size);
   color:var(--Music-Title-Color);
}